In [11]:
import pandas as pd
import json

In [16]:
with open("../building_type_mapping.json", 'r') as file:
    building_type_mapping = json.load(file)

In [3]:
myrealty = pd.read_csv("../scraping_results/data/myrealty_apartments.csv")
bars = pd.read_csv("../scraping_results/data/bars_apartments.csv")

In [21]:
bnakaran = pd.read_csv("../scraping_results/data/bnakaran_apartments.csv")
bnakaran = bnakaran.dropna(axis = 1, how = "all")
bnakaran.head()

,source,id,price,area,rooms,floor,storeys,building_type,added_in_date,additional_features,...,room_details,longitude,flooring,entrance_door,construction_type,renovation,windows,heating,parking,cooling
0,bnakaran,d54284,1100.0,46,2,7,11,special,17.11.2023,"['air conditioner', 'new wiring', 'new water t...",...,"{'rooms': '2', 'bedrooms': '1', 'bathrooms': '...",40.185799,NaN,metal,wall building,"renovated, uninhabited",plastic,gas boiler,outdoor,air conditioner
1,bnakaran,d111383,155000.0,130,4,4,5,NaN,16.11.2023,"['new wiring', 'persistent water', 'hardwood f...",...,"{'rooms': '4', 'bedrooms': '3', 'bathrooms': '...",40.199857,hardwood,metal,stone,renovated,plastic,gas boiler,outdoor,NaN
2,bnakaran,d116405,99500.0,68,2,5,16,NaN,17.11.2023,"['persistent water', 'hardwood flooring', 'ele...",...,"{'rooms': '2', 'bedrooms': '1', 'bathrooms': '...",40.220956,hardwood,metal,wall building,normal,plastic,gas boiler,NaN,NaN
3,bnakaran,d117808,250000.0,126,4,3,15,NaN,17.11.2023,"['new wiring', 'intercom', 'new water tubes', ...",...,"{'rooms': '4', 'bedrooms': '3', 'bathrooms': '...",40.171077,NaN,metal,in situ concrete,not renovated,plastic,NaN,NaN,NaN
4,bnakaran,d111336,800000.0,320,5,18,18,NaN,16.11.2023,"['heating flooring', 'new wiring', 'new water ...",...,"{'rooms': '5', 'bedrooms': '4', 'bathrooms': '...",40.199896,laminate,metal,in situ concrete,euro renovated,plastic,centralized,underground,NaN