In [6]:
import ast
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.8f}'.format)

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [8]:
def create_dummies(row, unique_features):
    return {element: 1 if element in row else 0 for element in unique_features}

def dummify_column(df, col_name, unique_features):
    # Check if the specified column contains lists
    if df[col_name].apply(lambda x: isinstance(x, list)).all():
        # If it contains lists, flatten the lists into separate rows
        dummies = df[col_name].apply(lambda x: create_dummies(x, unique_features)).apply(pd.Series)
    else:
        # Perform one-hot encoding (dummify) on the specified column
        dummies = pd.get_dummies(df[col_name])
        
    dummies.columns = ["F_" + col for col in dummies.columns]
    # Concatenate the dummies with the original DataFrame and drop the original column
    df = pd.concat([df, dummies], axis=1)
    df.drop(columns=[col_name], inplace=True)

    return df

def dummify_columns(df, cols, unique_features):
    df_copy = df
    for col in cols:
        df_copy = dummify_column(df_copy, col, unique_features)
        
    return df_copy

In [9]:
def feature_importance(data, y_col):
    X = data.drop(y_col, axis=1)
    y = data[y_col]
    rf = RandomForestRegressor(n_estimators=100) 
    rf.fit(X, y)
    feature_importances = pd.DataFrame({
        'feature': X.columns,
        'importance': rf.feature_importances_
    })
    feature_importances = feature_importances.sort_values(
        by = 'importance',
        ascending = False
    )
    return feature_importances

def plot_feature_importance(feature_importances):
    plt.figure(figsize=(10, 6))
    plt.barh(feature_importances['feature'], feature_importances['importance'])
    plt.xlabel('Importance')
    plt.ylabel('Feature')
    plt.title('Feature Importance')
    plt.show()

In [10]:
file_paths = {
    "bars" : "../data/bars_apartments.csv",
    "myrealty" : "../data/myrealty_apartments.csv",
    "bnakaran" : "../data/bnakaran_apartments.csv",
}

## Bars

In [11]:
bars = pd.read_csv(file_paths["bars"])
bars.dropna(axis = 1, how = 'all', inplace = True)
bars['facilities'] = bars['facilities'].apply(ast.literal_eval)

bars_unique_features = set([item for sublist in bars['facilities'] for item in sublist])

bars_dummy = dummify_columns(bars, ["facilities", "building_type", "condition"], bars_unique_features)
bars_dummy = bars_dummy.drop(columns = ["source", "id", "location"], axis = 1)
bars_dummy["ceiling_height"] = bars_dummy["ceiling_height"].fillna(bars_dummy["ceiling_height"].median())
bars_dummy = bars_dummy.dropna(subset=['area'])
bars_dummy = bars_dummy.dropna(subset=['price'])
feature_importance(bars_dummy, "price")

                     feature  importance
0                       area  0.56351941
5             bathroom_count  0.20209945
25           F_Front balcony  0.10488070
6                   bedrooms  0.02422271
1                      rooms  0.01593061
27              F_First line  0.01140359
36  F_Transport availability  0.01093328
3                    storeys  0.00867808
2                      floor  0.00651796
4             ceiling_height  0.00632066
37                F_Wardrobe  0.00436707
31            F_Open balcony  0.00383664
28                F_Internet  0.00339384
32                 F_Parking  0.00325552
23          F_Heating system  0.00298398
45          F_Major overhaul  0.00291650
8                F_Fireplace  0.00253274
35                F_Panorama  0.00218487
16          F_Superstructure  0.00214864
33        F_Building service  0.00192916
13        F_Air conditioning  0.00186576
29      F_Built-in furniture  0.00176385
9                  F_Jacuzzi  0.00159963
12                    F_Pool  0.00128972
34                F_Elevator  0.00088922
14        F_Exclusive design  0.00085060
39            F_New building  0.00082455
18       F_Building security  0.00078796
20          F_Closed balcony  0.00072099
7            F_Kitchen stove  0.00069131
46      F_Old major overhaul  0.00060277
41         F_Special project  0.00059611
30                  F_Garage  0.00052533
48      F_Without renovation  0.00049919
19               F_Furniture  0.00049187
22          F_Cooling system  0.00032445
42            F_Stalinka c/o  0.00028468
15                  F_Fridge  0.00024263
24              F_Dishwasher  0.00023350
26         F_Washing machine  0.00022599
44                   F_Stone  0.00014602
10                      F_TV  0.00014038
21       F_Kitchen furniture  0.00012906
47            F_Redecoration  0.00010148
40                   F_Panel  0.00005134
11                 F_Mansard  0.00002646
43            F_Stalinka w/o  0.00002223
17                 F_Terrace  0.00001719
38              F_Monolithic  0.00000031

# MyRealty

In [12]:
myrealty = pd.read_csv(file_paths["myrealty"])
myrealty.dropna(axis=1, how='all', inplace = True)
myrealty['facilities'] = myrealty['facilities'].apply(ast.literal_eval)
myrealty['ceiling_height'] = myrealty['ceiling_height'].str.replace('[^\d.]', '', regex=True)
myrealty['ceiling_height'] = pd.to_numeric(myrealty['ceiling_height'], errors='coerce')

In [13]:
myrealty_unique_features = set([item for sublist in myrealty['facilities'] for item in sublist])

In [14]:
myrealty_dummy = dummify_columns(
    myrealty,
    ["facilities", "building_type", "condition"],
    myrealty_unique_features
)
myrealty_dummy = myrealty_dummy.drop(columns = ["source", "id", "location", "added_in_date"], axis = 1)
feature_importance(myrealty_dummy, "price")

                       feature  importance
0                         area  0.60557442
6                   view_count  0.05836903
3                      storeys  0.03390612
31                F_Playground  0.02095647
9                        F_Gas  0.02000824
50            F_Newly repaired  0.01884333
4               ceiling_height  0.01842606
42           F_Air-conditioner  0.01623660
2                        floor  0.01260161
17                  F_Roadside  0.01200755
29         F_Laminate flooring  0.01162661
26                F_Irrigation  0.01037890
32                     F_Water  0.00944830
1                        rooms  0.00903845
22                 F_Hot water  0.00844431
5               bathroom_count  0.00842303
34                  F_Internet  0.00822330
21  F_Close to the bus station  0.00778917
12                      F_View  0.00713529
7                       F_Park  0.00654192
51            F_Zero condition  0.00622449
16                   F_Parquet  0.00597439
19                 F_Iron door  0.00569293
40                F_water 24/7  0.00554108
48                     F_Stone  0.00546384
20    F_Sewerage, Canalization  0.00490585
36                 F_Equipment  0.00482528
37              F_Open balcony  0.00448818
25              F_Euro windows  0.00441689
41                  F_Elevator  0.00440552
38                   F_Parking  0.00431787
49                      F_Good  0.00412932
43                     F_Sunny  0.00407150
47                     F_Panel  0.00358868
28                      F_Tile  0.00325562
45                   F_Monolit  0.00318381
14                  F_Basement  0.00262796
27                 F_Furniture  0.00262188
23                   F_Balcony  0.00254201
18           F_Security system  0.00242272
10                 F_Fireplace  0.00201071
33                 F_Bilateral  0.00198098
39              F_Heated floor  0.00175004
13                   F_Heating  0.00170300
44               F_Electricity  0.00167968
15           F_Central heating  0.00096437
8           F_High first floor  0.00079204
24              F_Storage room  0.00020936
46                     F_Other  0.00009177
30                     F_Sauna  0.00008330
11                    F_Loggia  0.00005091
35                    F_Garage  0.00000530

# Bnakaran # from room_details we can get bathrooms

In [19]:
bnakaran = pd.read_csv(file_paths["bnakaran"])
bnakaran.dropna(axis=1, how='all', inplace = True)
bnakaran['additional_features'] = bnakaran['additional_features'].apply(ast.literal_eval)
bnakaran.head(2)

,source,id,price,area,rooms,floor,storeys,added_in_date,additional_features,latitude,visit_count,utilities,room_details,details,longitude
0,bnakaran,d113832,300000.00000000,75,3,8,14,14.11.2023,"[air conditioner, heating flooring, new wiring...",44.50805864,24,[],"{'rooms': '3', 'bedrooms': '2', 'bathrooms': '...","{'Construction type': 'in situ concrete', 'new...",40.21100941
1,bnakaran,d113850,430000.00000000,155,4,5,5,14.11.2023,"[air conditioner, persistent water, hardwood f...",44.50699578,74,[],"{'rooms': '4', 'bedrooms': '3', 'bathrooms': '...","{'Construction type': 'stone', 'Building type'...",40.17742786

In [16]:
bnakaran_unique_features = set([item for sublist in bnakaran['additional_features'] for item in sublist])

In [17]:
bnakaran_dummy = dummify_columns(bnakaran, ["additional_features"], bnakaran_unique_features)
bnakaran_dummy = bnakaran_dummy.drop(
    columns = ["source", "id", "added_in_date", "room_details", "details", "utilities"], 
    axis = 1
)
bnakaran_dummy = bnakaran_dummy.dropna(subset=['price'])
bnakaran_dummy.head(1)

,price,area,rooms,floor,storeys,latitude,visit_count,longitude,F_open balcony,F_hardwood flooring,F_washing machine,F_internet,F_elevator,F_bathroom tiled,F_built-in wardrobes,F_intercom,F_new water tubes,F_electricity,F_refrigerator,F_cable TV,F_jacuzzi,F_kettle,F_sunny,F_sec. worker,F_pool,F_heating flooring,F_persistent water,F_dinnerware,F_expandable,F_LED TV,F_kitchen tiled,F_plastic windows,F_metal door,F_playground,F_appliances,F_Wi-Fi,F_air conditioner,F_sec. sys.,F_exclusive design,F_shower,F_furnished,F_new wiring,F_oriel,F_natural gas,F_bathtub,F_gym,F_kitchen furniture,F_laminatе flooring
0,300000.00000000,75,3,8,14,44.50805864,24,40.21100941,1,0,1,0,1,1,1,0,1,1,1,0,0,0,1,0,0,1,1,0,0,0,1,1,1,1,1,0,1,0,0,0,1,1,0,1,0,0,1,1

In [18]:
feature_importance(bnakaran_dummy, "price")

                 feature  importance
0                   area  0.43793289
4               latitude  0.18023568
18            F_cable TV  0.16115946
29       F_kitchen tiled  0.05395485
28              F_LED TV  0.02291099
27          F_expandable  0.02057558
6              longitude  0.01882975
22         F_sec. worker  0.01662522
2                  floor  0.01065267
10            F_internet  0.01041451
20              F_kettle  0.00760824
1                  rooms  0.00641026
46   F_laminatе flooring  0.00606342
37    F_exclusive design  0.00461961
39           F_furnished  0.00453474
5            visit_count  0.00450982
14            F_intercom  0.00356619
3                storeys  0.00347763
15     F_new water tubes  0.00317082
40          F_new wiring  0.00297224
13  F_built-in wardrobes  0.00258544
8    F_hardwood flooring  0.00185005
24    F_heating flooring  0.00183019
42         F_natural gas  0.00168114
33          F_appliances  0.00155829
38              F_shower  0.00151456
45   F_kitchen furniture  0.00148004
30     F_plastic windows  0.00146198
36           F_sec. sys.  0.00117681
32          F_playground  0.00089182
19             F_jacuzzi  0.00087779
7         F_open balcony  0.00073816
23                F_pool  0.00059952
17        F_refrigerator  0.00043757
9      F_washing machine  0.00034067
11            F_elevator  0.00029425
35     F_air conditioner  0.00015548
21               F_sunny  0.00014177
34               F_Wi-Fi  0.00009951
43             F_bathtub  0.00004025
41               F_oriel  0.00001780
44                 F_gym  0.00000222
26          F_dinnerware  0.00000010
25    F_persistent water  0.00000003
31          F_metal door  0.00000000
12      F_bathroom tiled  0.00000000
16         F_electricity  0.00000000